
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>(PROJECTTITLE) by fergustaylor</title>

    <link rel="stylesheet" href="/(PROJECTTITLE)/assets/css/style.css?v=f1c4ee4f56c056559c4f04c89b6c978b1a78b358">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>(PROJECTTITLE)</h1>
        <p></p>

        
          <p class="view"><a href="https://github.com/fergustaylor/(PROJECTTITLE)">View the Project on GitHub <small></small></a></p>
          <p class="view"><a href="https://fergustaylor.github.io/(PROJECTTITLE)/">Return to (PROJECTTITLE) <small></small></a></p>
        

        

        
      </header>
      <section>


<title>(PROJECTTITLE)</title>

<script(INSERTPAGETEXTHTML)</p>

      </section>
      <footer>
        
        
        
    
      </footer>
    </div>
    <script src="/(PROJECTTITLE)/assets/js/scale.fix.js"></script>


  
  </body>
</html>
